<header class="topbar{{if .B}} branded{{end}}">
  <div class="topbar-inner">
    <a class="brand" href="/" data-e2e="nav-link-home">{{if and .B .B.LogoLight}}<img class="logo logo-light" src="{{.B.LogoLight}}" alt="" height="32"><img class="logo logo-dark" src="{{.B.LogoDark}}" alt="" height="32">{{else}}<img src="/static/logo.svg" alt="" width="28" height="28">{{end}}<span>{{if .B}}{{.B.Name}}{{else}}{{.Product}}{{end}}</span></a>
    {{if .User}}<span class="who" data-e2e="nav-text-user">{{.User.Name}}</span>
    <form method="post" action="/logout" class="topbar-form">{{template "csrf" .}}<button class="btn btn-small" type="submit" data-e2e="nav-btn-signout">{{t "nav.signout"}}</button></form>{{end}}
  </div>
</header>
