{{define "title"}}{{.D.Client.Name}}{{end}}
{{define "content"}}{{template "admin-tabs" .}}
<div class="card">
  <h1>{{if .D.Created}}{{t "admin.client.created"}}{{else}}{{t "admin.client.rotated"}}{{end}}</h1>
  <dl class="props">
    <dt>{{t "admin.client.id"}}</dt><dd class="mono" data-e2e="secret-text-client-id">{{.D.Client.ID}}</dd>
    {{if .D.Secret}}<dt>{{t "admin.client.secret"}}</dt><dd class="mono secret" data-e2e="secret-text-secret">{{.D.Secret}}</dd>{{end}}
  </dl>
  {{if .D.Secret}}<div class="alert-warn">{{t "admin.client.secret_once"}}</div>{{end}}
  <div class="actions"><a class="btn" href="/admin/clients/{{.D.Client.ID}}" data-e2e="secret-link-client">{{t "admin.done"}}</a></div>
</div>{{end}}
